<div class="row comment">
    <h2>ALL COMMENTS <span>3</span></h2>
    <hr/>

    <div class="cmt">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">

            <div class="col-xs-3 col-sm-2 col-md-1">
                <div class="user">
                    <div class="avatar">
                        <img src="/public/img/mod2.jpg" alt="mod" title="sonlazio">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <div class="cmtUser">
                    <h4>sonlazio</h4>
                    <div class="info">
                        <p>Posted on April 10, 2017 via android <i class="fa fa-android"></i></p>
                    </div>
                    <p>Came here with my husband and father for dinner and was delicious. We arrived at 5 and were seated but not long after the place was packed (mid-week) so I'd recommend booking if you weren't just walking by. Not the best Vietnamese I've ever had but definitely satisfying in a contemporary space.</p>
                    <span><i class="fa fa-heart"></i> Like</span>
                    <span><i class="fa fa-exclamation-circle"></i> Report</span>
                    <span><i class="fa fa-reply"></i> Discuss</span>
                </div>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
                <div class="user">
                    <div class="avatar">
                        <img src="/public/img/mod1.jpg" alt="mod" title="cuhiep">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <div class="cmtUser">
                    <h4>cuhiep</h4>
                    <div class="info">
                        <p>Posted on April 10, 2017 via iOS <i class="fa fa-apple"></i></p>
                    </div>
                    <p>We grabbed lunch here in the way to the airport. Food was great - really good salads and prawns and Vietnamese beer. The place was packed but they quickly found us a table. Service was prompt and friendly. The space was minimalist and very cool. The food was great and in particular I liked the beef salad and the spicy...</p>

                    <div class="album-user" style="margin-left: -6px; margin-right: 6px">

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <img src="/public/img/cmt4.jpg" class="img-responsive">
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <img src="/public/img/cmt3.jpg" class="img-responsive">
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <img src="/public/img/cmt2.jpg" class="img-responsive">
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <img src="/public/img/cmt1.jpg" class="img-responsive">
                        </div>

                    </div>

                    <span><i class="fa fa-heart"></i> Like</span>
                    <span><i class="fa fa-exclamation-circle"></i> Report</span>
                    <span><i class="fa fa-reply"></i> Discuss</span>
                </div>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
                <div class="user">
                    <div class="avatar">
                        <img src="/public/img/mod3.jpg" alt="mod" title="Duy Luân">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <div class="cmtUser">
                    <h4>Duy Luân</h4>
                    <div class="info">
                        <p>Posted on April 10, 2017 via windowphone <i class="fa fa-windows"></i>
                        </p>
                    </div>
                    <p>Had to wait for a table but no prob with that! They took our number and called about 20mins later when a table became available. The entrance off the street is simple but the short flight of internal steps helped to add a sense of stepping up into somewhere special. Tables are packed in but in a way that didn't...</p>
                    <span><i class="fa fa-heart"></i> Like</span>
                    <span><i class="fa fa-exclamation-circle"></i> Report</span>
                    <span><i class="fa fa-reply"></i> Discuss</span>
                </div>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
                <div class="user">
                    <div class="avatar">
                        <img src="/public/img/mod6.jpg" alt="mod" title="Non@me">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <div class="cmtUser">
                    <input type="text" name="" id="" placeholder="Your comment">
                </div>
            </div>
        </div>
    </div>
</div>
