<div class="row other">
    <h2>SUGGEST</h2>

    <div class="other-detail col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href="#"><img class="width-img-100" src="/public/img/other1.jpg"></a>
        <div class="description">
            <a href="#"><h4>Trà Sữa Bobapop - Hồ Tùng Mậu</h4></a>
            <p>6 Hồ Tùng Mậu, P.Mai Dịch, Quận Cầu Giấy, Hà Nội</p>
        </div>
    </div>

    <div class="other-detail col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href=""><img class="width-img-100" src="/public/img/other2.jpg"></a>
        <div class="description">
            <a href=""><h4>Ding Tea - Hồ Tùng Mậu</h4></a>
            <p>114 Hồ Tùng Mậu, Quận Cầu Giấy, Hà Nội</p>
        </div>
    </div>

    <div class="other-detail col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href=""><img class="width-img-100" src="/public/img/other3.jpg"></a>
        <div class="description">
            <a href=""><h4>Trà Sữa Feeling Tea - Hồ Tùng Mậu</h4></a>
            <p>112 Hồ Tùng Mậu, Quận Cầu Giấy, Hà Nội</p>
        </div>
    </div>

    <div class="other-detail col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a href=""><img class="width-img-100" src="/public/img/other4.jpg"></a>
        <div class="description">
            <a href=""><h4>Gongcha Hongkong</h4></a>
            <p>19 Trần Quốc Hoàn, Quận Cầu Giấy, Hà Nội</p>
        </div>
    </div>
</div>
