<!DOCTYPE html>
<html>

<!-- Render head tag In components/detail folder -->
{% include "components/detail/headDetail.njk" %}
<!---------------------------------->

<body>
  <!-- Navigation  -->
{% include "components/nav.njk" %}
<!---------------------------------->

<section class="container-fluid tab">
  <div class="container mieuta">

        <!--  Start div.row | Basic Store info | Star Rating  -->
        {% include "components/detail/basicInfo.njk" %}
        <!---------------------------------->

        <!-- Store Infomation | Map location -->
        {% include "components/detail/infoMap.njk" %}
        <!---------------------------------->

        <!-- Photos in Store -->
        {% include "components/detail/photos.njk" %}
        <!---------------------------------->

        <!-- Comments  -->
        {% include "components/detail/comments.njk" %}
        <!---------------------------------->

        <hr/>
        <span>Page 1 of 1 </span>
        <hr/>

        <!-- Related stores -->
        {% include "components/detail/relatedStores.njk" %}
        <!---------------------------------->

  </div>
</section>

<!-- Register/Sign In Form  -->
{% include "components/registerForm.njk" %}
<!---------------------------------->

<!-- Footer | Back to Top button -->
{% include "components/footer.njk" %}
<!---------------------------------->

<!-- Only appears when the page has finished loading   -->
{% include "components/scriptsLoadLast.njk" %}
<!-------------------------------------------------------------------------------->

</body>
</html>
