<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
<div class="wrap">
    <div class="container-fluid">
        <div class="container" id="main-menu">
            <div class="navbar-header">
                <div class="navbar-toggle">
                    <i class="fa fa-bars" data-toggle="collapse" data-target="#first-menu"></i>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="first-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tin tức</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em; background: #fff; margin-top: 2em; box-shadow: 0px 0px 20px #9E9E9E;">
        <div class="container" id="second-menu">
            <div class="row">
                <div class="col-sm-2 col-xs-12 tops">
                    <ul class="nav">
                        <li>
                            <span>Mới</span>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-2 col-xs-12 district">
                    <select class="select">
                        <option>- Quận/Huyện -</option>
                        <option>Quận Hoàn Kiếm</option>
                        <option>Quận Tây Hồ</option>
                        <option>Quận Ba Đình</option>
                        <option>Quận Thanh Xuân</option>
                        <option>Quận Hai Bà Trưng</option>
                        <option>Quận Đống Đa</option>
                        <option>Quận Cầu Giấy</option>
                        <option>Quận Hoàng Mai</option>
                        <option>Quận Long Biên</option>
                    </select>
                </div>

                <div class="col-sm-2 col-xs-12 type">
                    <select class="select">
                        <option>- Loại hình -</option>
                        <option>Quán ăn</option>
                        <option>Café/Dessert</option>
                    </select>
                </div>

                <div class="col-sm-2 col-xs-12 radius">
                    <select class="select">
                        <option>- Bán kính -</option>
                        <option>100m</option>
                        <option>200m</option>
                        <option>500m</option>
                        <option>1000m</option>
                        <option>2000m</option>
                        <option>5000m</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container content">
            <div class="row">
                {% for data in datas %}
                    <div class="col-sm-4 col-xs-6 suggest">
                        <a href="/detail/{{ data.id_location }}">
                            <img src="{{ data.image }}">
                            <p>{{ data.name }}</p>
                        </a>
                        <dd>{{ data.address }}, {{ data.district }}, Hà Nội</dd>
                    </div>
                {% else %}
                    <p>NOT FOUND</p>
                {% endfor %}
                <!--<div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/1.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/2.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/3.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/4.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/5.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6">
                    <a href="sp.html">
                        <img src="/public/img/6.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>-->

                <!--<div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/1.jpg">
                        <p></p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/2.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/3.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/4.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/5.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/6.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/1.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/2.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/3.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/4.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/5.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>

                <div class="col-sm-4 col-xs-6 suggest">
                    <a href="sp.html">
                        <img src="/public/img/6.jpg">
                        <p>Cộng Caphe - Quán Sứ</p>
                    </a>
                    <dd>68 Quán Sứ, Quận Hoàn Kiếm, Hà Nội</dd>
                </div>-->

            </div>
        </div>
    </div>

    <div class="container-fluid" style="height: 6em;">
    </div>

    <div class="container-fluid" style="background-image: url('/public/img/footer-background.jpg')">
        <div class="container">
            <div class="row footer">
                <div class="col-sm-4 col-xs-12 footer-left">
                    <h3>My <span>Project</span></h3>
                    <p>TungSeven © 2017</p>
                </div>

                <div class="col-sm-5 col-xs-12 footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Số 14, ngõ 4, Nguyễn Đình Chiểu, Hai Bà Trưng, Hà Nội.</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+84 989-898-989</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>tungseven@gmail.com
                        </p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-12 footer-right">
                    <p><span>About me</span>
                        I am a student at Techmaster
                    </p>

                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="backtotop">
        <a href="#second-menu">
            <img src="/public/img/backtotop.jpg" class="img-responsive">
        </a>
    </div>

</div>

<script src="/public/js/jquery-3.2.0.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/script.js"></script>
</body>
</html>