<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ data.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/sp.css">

</head>
<body>
<div class="wrap">
    <div class="container-fluid">
        <div class="container" id="main-menu">
            <div class="navbar-header">
                <div class="navbar-toggle">
                    <i class="fa fa-bars" data-toggle="collapse" data-target="#first-menu"></i>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="first-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#">news</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="background: rgba(183, 227, 239, 0.5); margin-top: 2em; border-radius: 1em;">
        <div class="container" id="restaurant-info">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ data.image }}" class="img-responsive restaurant-profile-img">
                </div>

                <div class="col-sm-6">
                    <h3 class="restaurant-name">{{ data.name }}</h3>
                    <div class="restaurant-info-box">
                        <div class="adress restaurant-info-box-item">
                            <span class="fa fa-location-arrow locationicon"></span>
                            <span class="adress-street">{{ data.address }}</span>,
                            <span class="fa fa-map"></span>
                            <span class="adress-district">{{ data.district }}</span>,
                            <span class="adress-province">Hà Nội.</span>
                        </div>

                        <div class="time-open restaurant-info-box-item">
                            <span class="fa fa-clock-o houricon"></span>
                            <span>{{ data.octime }}</span>
                        </div>

                        <div class="price restaurant-info-box-item">
                            <span class="fa fa-tag minmaxpriceicon"></span>
                            <span class="price-range">
                          <span>30.000đ - </span>
                          <span>70.000đ</span>
                        </span>
                        </div>

                        <div class="rating restaurant-info-box-item">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>

                            <div class="rating-point">
                                Rating: <span style="font-size: 2em;color: blue;">{{ data.rate }}</span>
                            </div>
                        </div>

                        <div class="phone-favorite">
                            <div class="phone">
                                <span class="fa fa-mobile-phone"></span>
                                <span>Call</span>
                            </div>
                            <div class="favorite">
                                <input class="fa-heart" id="fa-heart" type="checkbox">
                                <label class="fa fa-heart"  for="fa-heart"></label>
                                <span>Favorite</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="restaurant-album">
                <h3>Album</h3>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <img src="/public/img/album1.jpg" class="img-responsive">
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <img src="/public/img/album2.jpg" class="img-responsive">
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <img src="/public/img/album3.jpg" class="img-responsive">
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <img src="/public/img/album4.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="info-map">
            <h3>Thông tin & Bản đồ</h3>
            <div id="map"></div>
                <script>
                    function initMap() {
                        var uluru = {lat: {{ data.lat }}, lng: {{ data.long }}};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: uluru,
                            scrollwheel: false
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsB1OF-sOPmmMd9bwLpJfJfrdumJ_A6dI&callback=initMap">
                </script>
            <div class="row">
                <div class="col-sm-4">
                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Thời gian hoạt động
                        </div>
                        <span>{{ data.octime }}</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Thời gian chuẩn bị
                        </div>
                        <span>Khoảng 5 - 10 phút</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Sức chứa
                        </div>
                        <span>80 người lớn</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Phục vụ món
                        </div>
                        <span>Café - Kem ,  Sinh tố - Nước ép ,  Thức uống</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Thích hợp
                        </div>
                        <span>Buổi sáng , Buổi trưa , Buổi xế , Buổi tối</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Nghỉ lễ
                        </div>
                        <span>Các ngày lễ trong năm</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Phong cách ẩm thực
                        </div>
                        <span>Việt Nam</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Website
                        </div>
                        <span>www.facebook.com</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Giờ nhận khách cuối
                        </div>
                        <span>11:00 PM</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Thể loại
                        </div>
                        <span>{{ data.type }}</span>
                    </div>

                    <div class="restaurant-more-info">
                        <div class="info-label">
                            Phù hợp với
                        </div>
                        <span>Hẹn hò ,  Họp nhóm ,  Tiếp khách ,  Thư giãn</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="media">
                <h3>Comment</h3>
                <div class="media-left media-top">
                    <img src="/public/img/avatar.jpg" class="media-object" style="width:4em; height: 4em;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tin Hin
                        <small><i>Posted on April 06, 2017</i></small>
                    </h4>
                    <p>Từ khi đăng nhập Foody, lần đầu tiên tôi bình luận về một quán ở Hà nội, có thể nói là một thiếu
                        sót.
                        Tôi là dân Hà nội không phải phố cổ nhưng cũng gọi là hàng xóm nhưng đã xa xứ 20 năm, vẫn thường
                        xuyên ra Hà nội thăm gia đình. Cái cảm giác về nhà, ăn những quán ăn quen thuộc nên đến là
                        thưởng
                        thức luôn, đâu có khái niệm chụp hình đưa lên để nhận xét làm gì. Cộng Caphe không phải là quán
                        quen
                        thuộc của tôi, chỉ là sau khi ăn xong bữa tối, mấy người bạn rủ nhau ra đây hàn huyên thôi. Quán
                        mang nét xưa, cũng thấy thú vị, khung cảnh làm các giác nhớ về cái thời đèn dầu tù mù thời bao
                        cấp.
                        Cafe cho người Hà nội sành ăn thì chắc là ngon nhưng vì uống trà nên cũng không dám nhận xét.
                        Trà
                        mật ong quế cũng dễ chịu, thoang thoảng vị quế thơm. Còn trà quất mật ong thì cực kỳ chua, không
                        hấp
                        dẫn, phải nói là phí tiền. Một ly trà 45k mình thấy là giá khá cao, đúng chính xác với cảm giác
                        mua
                        chỗ ngồi. Các loại nước khác thì bạn mình nói cũng ổn. Một chỗ tụ tập bạn bè phù hợp, với điều
                        kiện
                        là đừng đông quá.</p>
                    <div class="album-user">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user1.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user2.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user3.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user4.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media">
                <div class="media-left media-top">
                    <img src="/public/img/avatar2.jpg" class="media-object" style="width:4em; height: 4em;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Phan Vũ
                        <small><i>Posted on April 05, 2017</i></small>
                    </h4>
                    <p>Cộng ngay ngã tư Quán Sư Hai Bà Trưng. Ngồi từ vỉa hè lẫn ở ở trong. Đánh giá cao không gian ở
                        đây
                        đặc biệt là tầng 2. Rất cổ, ngoài trời nhìn thẳng ra phố Quán Sứ. Tuy nhiên quán này khá đông
                        hoặc
                        có thể mình đến đúng hôm Valentine, rất đông nên phục vụ siêu chậm. Gọi phải tầm 20p mới được
                        đồ. Về
                        cơ bản menu và phục vụ vẫn thế, cộng vẫn là cộng khá ổn. Gọi cafe cốt dừa, 1 cafe nâu, 1 hướng
                        dương
                        hết 100k. Nói chung thi thoảng qua đây thôi chứ cộng dạo này đông lắm với cả ngồi mãi r :))</p>
                    <div class="album-user">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user2.1.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user2.2.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user2.3.jpg" class="img-responsive">
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <img src="/public/img/user2.4.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <button>Comment</button>
            </div>
        </div>

    </div>

    <div class="container-fluid" style="height: 6em;">
    </div>

    <div class="container-fluid" style="background-image: url('/public/img/footer-background.jpg')">
        <div class="container">
            <div class="row footer">
                <div class="col-sm-4 col-xs-12 footer-left">
                    <h3>My <span>Project</span></h3>
                    <p>TungSteve © 2017</p>
                </div>

                <div class="col-sm-5 col-xs-12 footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Số 14, ngõ 4, Nguyễn Đình Chiểu, Hai Bà Trưng, Hà Nội.</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+84 989-898-989</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>tungseven@gmail.com
                        </p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-12 footer-right">
                    <p><span>About me</span>
                        I am a student at Techmaster
                    </p>

                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="backtotop">
        <a href="#restaurant-info">
            <img src="/public/img/backtotop.jpg" class="img-responsive">
        </a>
    </div>

</div>

<script src="/public/js/jquery-3.2.0.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/script.js"></script>
</body>
</html>