<head>
      <title>Home</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="image/x-icon" rel="shortcut icon" href="/public/img/logo.png">
      <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/public/css/font-awesome.min.css">
      <link rel="stylesheet" href="/public/css/style.css">
      <link rel="stylesheet" type="text/css" href="/public/css/responsive.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=vietnamese" rel="stylesheet">
</head>
